.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #111622;
  box-shadow: 0 2px 5px rgba(0, 255, 153, 0.2);
}

/* Make logo bigger */
.logo {
  height: 40px; /* was 40px, now bigger */
  
  margin-right: 20px;
}

/* Make search bar smaller */
.navbar input {
  flex: 0.7; /* was flex:1, now smaller */
  padding: 5px 10px;
  background-color: #0f111a;
  border: 1px solid #00ff99;
  color: #00ff99;
  border-radius: 4px;
}

.navbar button {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #00ff99;
  background-color: #111622;
  border-radius: 4px;
  color: #00ff99;
}

.navbar button:hover {
  background-color: #00ff99;
  color: #0f111a;
}
